{% extends "base.html" %}
{% set active_page = "aboutus" %}
{% block title %}
<title>{{ title }} | 关于我们</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
{% endblock %}

{% block row3 %}
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="content">
      <h1>公司简介</h1>
      <img class="imgr" src="images/demo/imgr.gif" alt="" width="125" height="125" />
      <p>睿特英语2012年在深圳成立，自成立以来，旗下的Sunflower English Club已有200多位会员，三个俱乐部场地。其成立原因是基于帮助他人如何快速掌握第二语言及培养演讲能力。 TSEC相信可应用性语言的重要性，致力于提供一个平台传播国际语言和文化。</p>
      <p>TSEC通过多种现代教育形式，使不同水平的外语学员掌握更有效的外语沟通能力和方法，会员可根据自己的情况选择不同级别的沙龙参加小组讨论。其中商务会议模拟，外企生存之我见等TOPIC已成为最受会员追捧的话题。</p>
      <img class="imgl" src="images/demo/imgl.gif" alt="" width="125" height="125" />
      <p>在睿特英语学习，学生能够感受到真实的英语母语环境，并在与外教的充分互动交流中掌握纯正的英语。学习英语的最大的问题是遗忘，睿特英语结合语言学、心理学、教育学的最新研究成果并运用多媒体强大的记录运算功能，带动学习者以记忆优化的方法，让大脑以超越其极限的效率运转。</p>
      <p>睿特英语秉承打破语言、文化障碍的历年，使学员无论是国内英语学习，商务英语口语培训，成人英语培训、基础英语培训、日常英语培训、商务英语培训、SAT培训，少儿英语培训以及企业培训等课程。睿特英语整合国内优秀的英语教育培训资源和技术专长，结合国际领先的教学理念和方法，把最优秀的英语教育资源带给每一个学生，成为每一个英语语言学习者迈向成功道路上的良师益友。课程详情请参考<a href="/3-columns">课程介绍</a></p>
      
      <!--
      <h2>Table(s)</h2>
      <table summary="Summary Here" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
            <th>Header 4</th>
          </tr>
        </thead>
        <tbody>
          <tr class="light">
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
            <td>Value 4</td>
          </tr>
          <tr class="dark">
            <td>Value 5</td>
            <td>Value 6</td>
            <td>Value 7</td>
            <td>Value 8</td>
          </tr>
          <tr class="light">
            <td>Value 9</td>
            <td>Value 10</td>
            <td>Value 11</td>
            <td>Value 12</td>
          </tr>
          <tr class="dark">
            <td>Value 13</td>
            <td>Value 14</td>
            <td>Value 15</td>
            <td>Value 16</td>
          </tr>
        </tbody>
      </table>
    -->
      <!--
      <div id="comments">
        <h2>Comments</h2>
        <ul class="commentlist">
          <li class="comment_odd">
            <div class="author"><img class="avatar" src="images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
            <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
            <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
          </li>
          <li class="comment_even">
            <div class="author"><img class="avatar" src="images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
            <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
            <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
          </li>
          <li class="comment_odd">
            <div class="author"><img class="avatar" src="images/demo/avatar.gif" width="32" height="32" alt="" /><span class="name"><a href="#">A Name</a></span> <span class="wrote">wrote:</span></div>
            <div class="submitdate"><a href="#">August 4, 2009 at 8:35 am</a></div>
            <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
          </li>
        </ul>
      </div>
    -->
    </div>
    <!--
    <div id="column">
      <div class="subnav">
        <h2>Secondary Navigation</h2>
        <ul>
          <li><a href="#">Free Website Templates</a></li>
          <li><a href="#">Free CSS Templates</a>
            <ul>
              <li><a href="#">Free XHTML Templates</a></li>
              <li><a href="#">Free Web Templates</a></li>
            </ul>
          </li>
          <li><a href="#">Free Website Layouts</a>
            <ul>
              <li><a href="#">Free Website Software</a></li>
              <li><a href="#">Free Webdesign Templates</a>
                <ul>
                  <li><a href="#">Free FireWorks Templates</a></li>
                  <li><a href="#">Free PNG Templates</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Free Website Themes</a></li>
        </ul>
      </div>
      <div class="holder">
        <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Nullamlacus dui ipsum conseque</h2>
        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
      <div id="featured">
        <ul>
          <li>
            <h2>Indonectetus facilis</h2>
            <p class="imgholder"><img src="images/demo/240x90.gif" alt="" /></p>
            <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
        </ul>
      </div>
      <div class="holder">
        <h2>Lorem ipsum dolor</h2>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit</a></li>
          <li>Etiam vel sapien et</li>
          <li><a href="#">Etiam vel sapien et</a></li>
        </ul>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
      -->
    </div>
  
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock %}