<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
	{% block title %} {% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="imagetoolbar" content="no" />
	{% block css %} {% endblock %}
</head>

<body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index.html">{{ title }}</a></h1>
      <p>睿特TSEC语言中心</p>
    </div>
    <div class="fl_right">
      <h1>咨询热线:  188-2383-8841</h1>
    </div>
    <div id="topnav">
    	{% set navigation_bar = [
    		('/', 'index', '首页'),
    		('aboutus', 'aboutus', '关于我们'),
    		('courses_intro', 'courses_intro', '课程介绍'),
    		('gallery', 'gallery', '师资介绍'),
    		('resources', 'resources', '学习资源'),
    		('corporation', 'corporation', '企业培训'),
        ('activities', 'activities', '新闻中心'),
    		('faq', 'faq', '常见问题'),
    		('contactus', 'contactus', '联系我们')
   			] -%}
   		{% set active_page = active_page|default('index') -%}
      <ul>
      	{% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active"{% endif %}>
        	<a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

  
{% block float_div %} {% endblock %}
{% block row2 %} {% endblock %}
{% block row3 %} {% endblock %}
<div class="wrapper row4">
  <div id="footer" class="clear">
    <!-- ####################################################################################################### -->
    <!--
    <div class="footbox">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="#">&raquo; Homepage</a></li>
        <li><a href="#">&raquo; Contact Us</a></li>
        <li><a href="#">&raquo; Sitemap</a></li>
        <li><a href="#">&raquo; Privacy Policy</a></li>
        <li><a href="#">&raquo; Terms of Use</a></li>
        <li><a href="#">&raquo; Copyright Information</a></li>
        <li><a href="#">&raquo; Website Matters</a></li>
      </ul>
    </div>
  -->
    <div class="footbox">
      <h2>地址</h2>
      <address>
      深圳市<br />
      <p>南山区西丽大学城世外桃源创意园区A栋2楼</p>
      <p>距离地铁环中线大学城站步行5分钟路程</p>
      <br />
      Tel: 188-2383-8841<br />
      Email: <a href="mailto:lina@redsunflowers.com">lina@redsunflowers.com</a>
      </address>
    </div>
    <div class="fl_right">
      <div><img src="../images/university_map.png" alt="map" width="500" height="324"/></div>
      <!--
      <div id="social">
        <h2>Connect With Us</h2>
        <ul>
          <li><a href="#"><img src="../images/social/facebook.gif" alt="" /></a></li>
          <li><a href="#"><img src="../images/social/twitter.gif" alt="" /></a></li>
          <li><a href="#"><img src="../images/social/flickr.gif" alt="" /></a></li>
          <li><a href="#"><img src="../images/social/youtube.gif" alt="" /></a></li>
          <li class="last"><a href="#"><img src="../images/social/rss.gif" alt="" /></a></li>
        </ul>
      </div>
    -->
      <!--
      <div id="newsletter" class="clear">
        <form action="#" method="post">
          <fieldset>
            <legend>Subscribe To Our Newsletter:</legend>
            <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
            <input type="text" id="subscribe" value="Submit" />
          </fieldset>
        </form>
      </div>
    -->
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">2014 - <a href="#">RedSunflowers</a></p>
    <p class="fl_right">Template by <a href="http://www.redsunflowers.com/" title="RedSunflowers English Training">RedSunflowers</a></p>
  </div>
</div>
{% block specific %}{% endblock %}
</body>

</html>