{% extends "base.html" %}
{% set active_page = "corporation" %}
{% block title %}
<title>{{ title }} | 企业培训</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
{% endblock %}

{% block specific %}
<!-- Portfolio Specific Elements -->
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#portfolio").tabs({
        event: "click"
    });
});
</script>
<!-- End Portfolio Specific Elements -->
{% endblock %}

{% block row3 %}
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="portfolio">
      <div class="fl_left">
        <!-- ########### -->
        <div id="tabs-1">
          <div class="media">
            <h1 class="top_lv_title" >企业培训课程是RedSunFlowers的特色课程</h1>
            <!-- Begin Flash Here - This is the correct method for W3C validation 
            <object type="application/x-shockwave-flash" data="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" width="450" height="380">
              <param name="movie" value="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" />
              <param name="wmode" value="opaque" />
              <param name="quality" value="high" />
              <param name="bgcolor" value="#E9E9E9" />
              <param name="allowfullscreen" value="true" />
              <param name="allowscriptaccess" value="never" />
            </object>
            -->
            <!-- End Flash Here -->
          </div>
          <div class="mediadetails">
            <p>睿特TSEC语言培训内设企业客户部，为您的企业提供最专业的培训服务，为企业员工提供灵活有效的学习方案和针对性的培训课程，务求帮助更多企业员工在实际工作及生活中，有效提升英语沟通及运用能力，从而提升企业的整体竞争能力与形象。</p> 
            <p></p>
            <p>睿特TSEC语言培训关注的不仅是培训知识，更关注的是培训效果，注重英语的实际应用。我们强调培训前后的工作，设计明确的培训目标和实现方式，配备经验丰富的专职老师，为您和您的企业提供可靠的培训服务保障。</p>
          </div>
        </br></br>
          <div class="media">
            <h1 class="top_lv_title">成功案例</h1>
            <div id="tabs-1">
              <p>深圳航空</p> 
            </div>
          </div>
          
        </div>
        <!-- ########### -->
        <div id="tabs-2">
          <ul class="medialist clear">
          <li><a href="#tabs-1"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-2"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-3"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-1"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-2"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-3"><img src="images/demo/130x130.gif" alt="" /></a></li>
          </ul>
        <!-- ########### -->
        </div>
        <!-- ########### -->
        <div id="tabs-3">
          <h2>Tab 3</h2>
          <div class="media"><img src="images/demo/450x380.gif" alt="" /></div>
          <div class="mediadetails">
            <p>Pellentesqueelit in elis pellus sed ris ligula maecenasceturpiscinia nulla nec maurien. Sitcongue ris maecenas nunc elit condisse in id fuscinia in condimentum. Vestasnec quis montesque mi vitae ut eget sapient praesenean dictum nequat. Vitaeestibus nequam adipis convallisi adipis cursus id duisque sem convallis nunc. Nibhmolesuada nam por sagittitor nibh mollis facinia elis cursus tur convallis.</p>
          </div>
        </div>
        <!-- ########### -->
      </div>
      <div class="fl_right">
        <h1 class="top_lv_title">课程定制方案</h1>
        <div class="mediadetails">
          
          <h2 class="title">深入了解企业需求</h2>
          <p>睿特TSEC语言培训企业客户部深入企业一线，认真听取和采集企业对学习组织管理方面的需求，从管理者的宏观角度研究分析定制课程的应用性和扩展性；同时，密切接触企业参加学习的员工，沟通了解学员的实际需求和学习习惯，从而满足企业课程的实际可操作性和课程内容架构合理性的需求。</p>
        </div>
        <div class="mediadetails">
          <h2 class="title">专业的课程设计</h2>
          <p>企业客户部团队结合多年企业培训教学的成功经验，多维度多角度分析课程的应用性，透彻研究课程知识体系和难点、重点，充分发挥睿特课程系统的特点和长处，认真评估课程的实际应用效果，制定出最符合企业特色的课程设计方案。</p>
       </div>
       <div class="mediadetails">
          <h2 class="title">严谨的效果评估</h2>
          <p>专职专人的客户管理专员全程跟踪企业培训课程学习进度，定期发送培训课程报告至企业HR部门或培训专管人员，让企业随时了解员工学习情况。课程结束后，安排专业教师评估培训效果，保证学员英语能力的实际提升。</p>
       </div>
       <h1 class="top_lv_title">定制优势</h1>
       <div class="mediadetails">
          <h2 class="title">专业性</h2>
          <p>睿特TSEC语言培训企业课程体系遵循从具体到一般、从应用到基础、从实践到理论的系统化课程设计理念，深入调研企业对培训课程的具体需求，认真研究制定课程目标、设计思路、内容纲要、教学方法、教学条件、学习环境、学习心理，为企业量身定做最符合需求的课程。</p>
       </div>
       <div class="mediadetails">
          <h2 class="title">前瞻性</h2>
          <p>发挥睿特TSEC语言培训多年的企业培训教学经验，从教育理念、教学设计、培训模式、学习体验等全面发展的角度，用贴近实际需求又充分考虑时代进步的思维，设计制定具有前瞻性的课程计划，满足企业未来发展的需求。</p>
       </div>
        <!--
        <div class="pagination">
          <ul>
            <li class="prev"><a href="#">&laquo; Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="splitter">&hellip;</li>
            <li><a href="#">6</a></li>
            <li class="current">7</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="splitter">&hellip;</li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li class="next"><a href="#">Next &raquo;</a></li>
          </ul>
        </div>
      -->
      </div>
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock %}

