{% extends "base.html" %}
{% set active_page = "corporation" %}
{% block title %}
<title>{{ title }} | 企业培训</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
{% endblock %}

{% block specific %}
<!-- Portfolio Specific Elements -->
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery-ui-1.8.12.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#portfolio").tabs({
        event: "click"
    });
});
</script>
<!-- End Portfolio Specific Elements -->
{% endblock %}

{% block row3 %}
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="portfolio">
      <div class="fl_left">
        <!-- ########### -->
        <div id="tabs-1">
          <div class="media">
            <h2>企业培训课程是RedSunFlowers的特色课程</h2>
            <!-- Begin Flash Here - This is the correct method for W3C validation -->
            <object type="application/x-shockwave-flash" data="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" width="450" height="380">
              <param name="movie" value="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" />
              <param name="wmode" value="opaque" />
              <param name="quality" value="high" />
              <param name="bgcolor" value="#E9E9E9" />
              <param name="allowfullscreen" value="true" />
              <param name="allowscriptaccess" value="never" />
            </object>
            <!-- End Flash Here -->
          </div>
          <div class="mediadetails">
            <p>RedSunFlowers从诞生开始就带着企业培训的基因，针对不同的企业需求，我们提供中教，外教进行企业培训。</p>
          </div>
        </div>
        <!-- ########### -->
        <div id="tabs-2">
          <h2>Tab 2</h2>
          <div class="media"><img src="images/demo/450x380.gif" alt="" /></div>
          <div class="mediadetails">
            <p>Pellentesqueelit in elis pellus sed ris ligula maecenasceturpiscinia nulla nec maurien. Sitcongue ris maecenas nunc elit condisse in id fuscinia in condimentum. Vestasnec quis montesque mi vitae ut eget sapient praesenean dictum nequat. Vitaeestibus nequam adipis convallisi adipis cursus id duisque sem convallis nunc. Nibhmolesuada nam por sagittitor nibh mollis facinia elis cursus tur convallis.</p>
          </div>
        </div>
        <!-- ########### -->
        <div id="tabs-3">
          <h2>Tab 3</h2>
          <div class="media"><img src="images/demo/450x380.gif" alt="" /></div>
          <div class="mediadetails">
            <p>Pellentesqueelit in elis pellus sed ris ligula maecenasceturpiscinia nulla nec maurien. Sitcongue ris maecenas nunc elit condisse in id fuscinia in condimentum. Vestasnec quis montesque mi vitae ut eget sapient praesenean dictum nequat. Vitaeestibus nequam adipis convallisi adipis cursus id duisque sem convallis nunc. Nibhmolesuada nam por sagittitor nibh mollis facinia elis cursus tur convallis.</p>
          </div>
        </div>
        <!-- ########### -->
      </div>
      <div class="fl_right">
        <ul class="medialist clear">
          <li><a href="#tabs-1"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-2"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-3"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-1"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-2"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-3"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-1"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-2"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-3"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-1"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-2"><img src="images/demo/130x130.gif" alt="" /></a></li>
          <li><a href="#tabs-3"><img src="images/demo/130x130.gif" alt="" /></a></li>
        </ul>
        <!-- ########### -->
        <div class="pagination">
          <ul>
            <li class="prev"><a href="#">&laquo; Previous</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="splitter">&hellip;</li>
            <li><a href="#">6</a></li>
            <li class="current">7</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="splitter">&hellip;</li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li class="next"><a href="#">Next &raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock %}

