{% extends "base.html" %}
{% set active_page = "faq" %}

{% block title %}
<title>{{ title }} | FAQ</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../styles/layout.css" type="text/css" />

{% endblock %}

{% block row3 %}
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <h1>Q:可以更改报读课程吗？</h1>
    <p>A: 已经注册报读的课程不能更改。</p>
    <h1>Q: 可以更换授课老师吗？</h1>
    <p>A:</p>
    <h1>Q:我需要出差比较长的一段时间，可以把课程暂停吗？</h1>
    <p>A:可以，但是需要先致电老师提前确认。</p>
    <h1>Q:在完成口语课程之后我的英语口语能达到什么样的水平？</h1>
    <p>A:基础口语课程会引导学生学会正确的发音，表达简单的意思，能够回答简单的提问，进而能够在一定范围内表达自己的意思并且可以写出简单的文章。</br>
      </p>
    <h1>Q:我需要出差比较长的一段时间，可以把课程暂停吗？</h1>
    <p>A:可以，但是需要先致电老师提前确认</p>
    <!-- ####################################################################################################### -->
  </div>
</div>

{% endblock %}
