{% extends "base.html" %}
{% set active_page = "faq" %}

{% block title %}
<title>{{ title }} | 常见问题</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../styles/layout.css" type="text/css" />

{% endblock %}

{% block row3 %}
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <h1>Q:课程的费用是多少？</h1>
    <p>A:您的课程价格取决于您对学习效果的要求。我们建议您来我们学校进行免费的水平测试，我们的课程顾问会根据您的情况为您推荐最合适您的课程。</p>
    <h1>Q:可以更改报读课程吗？</h1>
    <p>A:可以更改。如学员对自己的课程有疑问，我们欢迎学员把您的困惑告诉我们，并与我们一起解决问题。</p>
    <h1>Q: 可以更换授课老师吗？</h1>
    <p>A:可以。</p>
    <h1>Q:我需要出差比较长的一段时间，可以把课程暂停吗？</h1>
    <p>A:可以，但是要记得与您的助教确认哦。</p>
    <h1>Q:在完成通用口语课程之后我的英语口语能达到什么样的水平？</h1>
    <p>A:通用英语是英语学习最困难的一个阶段，睿特的通用英语课程设计更贴近生活，涵盖外出旅行，会议，日常沟通等场景，完成睿特的通用英语课程，我们有信心您能达到剑桥等级的C Level标准。</p>
    <h1>Q:你们的外籍英语教师从哪里聘请来的？</h1>
    <p>A:我们的教师来自于英语母语国家，比如：英国、美国、加拿大、澳大利亚和新西兰等。</p>
    <h1>Q:我的班级里将会有多少学生？</h1>
    <p>睿特课程分为沙龙课，和小班精讲课。沙龙课16-25人。 小班精讲4-8人。</p>
    <!-- ####################################################################################################### -->
  </div>
</div>

{% endblock %}
