{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../styles/layout.css" type="text/css" />
{% endblock %}

{% block row2 %}
<div id="row2_container">
<div class="wrapper row2 " id="dynamic">
  <div id="hpage_featured" class="clear">
    <!-- ####################################################################################################### -->
    <div><img src="../images/study_texts.jpg" alt="" width=960 height=400/></div>
    <!--
    <div id="featured_slide">
      <ul>
        <li><img src="../images/demo/450x320.gif" alt="" />
          <div class="panel-overlay">
            <h2>Nullamlacus dui ipsum</h2>
            <p>Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet. <a href="#">Continue Reading &raquo;</a></p>
          </div>
        </li>
        <li><img src="../images/demo/450x320.gif" alt="" /></li>
        <li><img src="../images/demo/450x320.gif" alt="" />
          <div class="panel-overlay">
            <h2>Semvelit nonummy odio tempus</h2>
            <p>Justolacus eger at pede felit in dictum sempus elit curabitur ipsum. Ametpellentum. <a href="#">Continue Reading &raquo;</a></p>
          </div>
        </li>
        <li><img src="../images/demo/450x320.gif" alt="" />
          <div class="panel-overlay">
            <h2>Pedefamet orci orci quisque</h2>
            <p>Nonnam aenenasce morbi liberos malesuada risus id donec volutpat estibulum curabitae. <a href="#">Continue Reading &raquo;</a></p>
          </div>
        </li>
      </ul>
    </div>
  -->
    <!-- ###### -->
    <!--
    <div class="intro clear">
      <div class="welcome clear"><img class="imgl" src="../images/demo/imgl.gif" alt="" />
        <div class="fl_right">
          
        </div>
      </div>
      <div class="popular">
        <h2>Most Popular Links</h2>
        <ul class="clear">
          <li><a href="#">&raquo; Visiting the University</a></li>
          <li><a href="#">&raquo; Undergraduate Courses</a></li>
          <li><a href="#">&raquo; Graduate Courses</a></li>
          <li><a href="#">&raquo; Postgraduate Research</a></li>
          <li><a href="#">&raquo; Postgraduate Taught</a></li>
          <li><a href="#">&raquo; International Students</a></li>
          <li><a href="#">&raquo; Lifelong Learning</a></li>
          <li><a href="#">&raquo; Graduate Health Services</a></li>
          <li><a href="#">&raquo; Graduate Housing</a></li>
          <li><a href="#">&raquo; Graduate Programs</a></li>
          <li><a href="#">&raquo; Graduate Student Association</a></li>
          <li><a href="#">&raquo; Campus Life At a Glance</a></li>
          <li><a href="#">&raquo; Campus Recreation</a></li>
          <li><a href="#">&raquo; Campus Safety &amp; Security</a></li>
          <li><a href="#">&raquo; Class Schedules</a></li>
          <li><a href="#">&raquo; Course Descriptions &amp; Catalogue</a></li>
          <li><a href="#">&raquo; Residential Colleges</a></li>
          <li><a href="#">&raquo; Schools and Colleges</a></li>
          <li><a href="#">&raquo; Student Activities</a></li>
          <li><a href="#">&raquo; Student Affairs</a></li>
        </ul>
      
      </div>
    </div>
    -->
    <!-- ####################################################################################################### -->
  </div>
</div>
</div>
{% endblock %}
{% block temp %} <!-- should be float_div -->
<div class="fl_left" id="sticker">
  <p class="wechatholder"><img src="../images/wechat.png" alt=""/></p>
  <p>微信号: linaielts</p>
  <p>关注微信客服号获取更多优惠信息</p>
  <p><a href="/contactus" style="color:#BB2245">我有问题要问</a></p>
</div>
{% endblock %}

{% block row3 %}
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="homepage" class="clear">
      <!-- ###### -->
      <div id="content">
        <div id="top_featured" class="clear">
          <ul class="clear">
            <li>
              <h2>课程概要</h2>
              <img src="../images/bec.jpg" alt="" width=300 height=150/>
              <p>在RedSunFlowers, 针对不同水平的学员， 我们提供多种课程给学员选择，以满足学员对不同学习时间和学习目标的需求。</p>
              <p class="readmore"><a href="/courses_intro">继续阅读 &raquo;</a></p>
            </li>
            <li class="last">
              <h2>英语趣闻</h2>
              <img src="../images/harvard.jpg" alt="" width=300 height=150/>
              <p>各种节假日的英文表达</br>各种节假日及假期在英文中如何表达呢？下面简要予以说明。
泛指不用工作的休假时间用time off work或者time away from work。准假叫be granted。

Holiday和vacation在英语中意思接近，它们包括三种情况：</p>
              <p class="readmore"><a href="/resources">继续阅读 &raquo;</a></p>
            </li>
          </ul>
        </div>
        <div id="latestnews">
          <h2>最新活动</h2>
          <ul>
            <li class="last">
              <p><strong>网站正式上线</strong><br />
                </p>
              <p class="readmore"><a href="#">查看更多详细内容 &raquo;</a></p>
            </li>
          </ul>
        </div>
        <!--
        <div id="quicklinks">
          <h2>Quick Links</h2>
          <ul>
            <li>
              <p><a href="#">Make an Application <img src="../images/demo/200x80.gif" alt="" /></a></p>
            </li>
            <li>
              <p><a href="#">Order a Prospectus <img src="../images/demo/200x80.gif" alt="" /></a></p>
            </li>
            <li class="last">
              <p><a href="#">Support Us <img src="../images/demo/200x80.gif" alt="" /></a></p>
            </li>
          </ul>
        </div>
      -->
      </div>
      <!-- ###### -->
      <div id="column">
        <div class="holder">
          <h2>分享学员的学习体会</h2>
          <!-- Begin Flash Here - This is the correct method for W3C validation -->
          <!--<object type="application/x-shockwave-flash" data="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" width="300" height="250">
            <param name="movie" value="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" />
            <param name="wmode" value="opaque" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#E9E9E9" />
            <param name="allowfullscreen" value="false" />
            <param name="allowscriptaccess" value="never" />
          </object>
          -->
          <!-- End Flash Here -->
          <p>After I completed the courses my speaking English is improved and I can chat with foreigners more confidently and make less mistakes.</p>
          <p style="text-align: right">-- Tracy</p>
          <p class="readmore"><a href="#">报名咨询 &raquo;</a></p>
        </div>
        <!--
        <div class="holder last">
          <h2>Student &amp; Staff Representatives</h2>
          <ul class="staffmembers">
            <li class="clear"><img class="imgl" src="../images/demo/80x80.gif" alt="" />
              <div class="fl_left">
                <p><strong>Principals Name Here</strong></p>
                <p>Principal / Headmaster</p>
                <p><a href="#">View Full Profile &raquo;</a></p>
              </div>
            </li>
            <li class="clear"><img class="imgl" src="../images/demo/80x80.gif" alt="" />
              <div class="fl_left">
                <p><strong>Another Name Goes Here</strong></p>
                <p>Head of Student Access</p>
                <p><a href="#">View Full Profile &raquo;</a></p>
              </div>
            </li>
            <li class="clear"><img class="imgl" src="../images/demo/80x80.gif" alt="" />
              <div class="fl_left">
                <p><strong>Yet Another Name Here</strong></p>
                <p>Student Union Representative</p>
                <p><a href="#">View Full Profile &raquo;</a></p>
              </div>
            </li>
          </ul>
        </div>
      -->
      </div>
      <!-- ###### -->
    </div>
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock %}

{% block specific %}
<!-- Homepage Specific Elements -->
<script type="text/javascript" src="../scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="../scripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../scripts/jquery.timers.1.2.js"></script>
<script type="text/javascript" src="../scripts/jquery.galleryview.2.1.1.min.js"></script>
<script type="text/javascript" src="../scripts/jquery.galleryview.setup.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var s = $("#sticker");
    var pos = s.position();                    
    $(window).scroll(function() {
        var windowpos = $(window).scrollTop();
        if (windowpos >= pos.top) {
            s.addClass("stick");
        } else {
            s.removeClass("stick"); 
        }
    });
});
</script>
<!-- End Homepage Specific Elements -->
{% endblock %}