{% extends "base.html" %}
{% set active_page = "resources" %}

{% block title %}
<title>{{ title }} | 学习资源</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../styles/layout.css" type="text/css" />
<!-- 3 Column Stylesheet Added To The Page And Not To The Layout.css -->
<link rel="stylesheet" href="../styles/courses_intro.css" type="text/css" />
{% endblock %}


{% block row3 %}
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="left_column">
      <div class="holder">
        <h2 class="title">快捷链接</h2>
        <ul class="nostart">
          <li><a href="http://www.bbc.co.uk/ukchina/simp/elt">BBC英语</a></li>
          <li><a href="http://www.voachinese.com/section/english-teaching/2506.html">美国之音</a></li>
        </ul>
      </div>
      <div class="holder">

      </div>
    </div>
    <!-- ############ -->
    <div id="content">
      <h1 class="title">学习资源</h1>
      <div class="imgholder"><img src="../images/underconstruction.jpeg" alt="" width=440 height=216/></div>
      <p>更多学习资源正在陆续整理中。。。</p>
    </div>
    <!-- 
    <div id="right_column">
      <div class="holder">
        <h2 class="title">Lorem ipsum dolor</h2>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit</a></li>
          <li>Etiam vel sapien et</li>
          <li><a href="#">Etiam vel sapien et</a></li>
        </ul>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
      <div class="holder">
        <h2 class="title">Lorem ipsum dolor</h2>
        <div class="imgholder"><img src="../images/demo/240x90.gif" alt="" /></div>
        <div class="imgholder"><img src="../images/demo/240x90.gif" alt="" /></div>
        <div class="imgholder last"><img src="../images/demo/240x90.gif" alt="" /></div>
      </div>
    </div>
    -->
    <!-- ####################################################################################################### -->
  </div>
</div>

{% endblock %}
